.delete-content {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    .title {
        width: 100%;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    .delete-form {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (min-width: 1280px){

    .delete-content {
        height: 75vh;
        font-size: 2rem;
    }

    .title {
        width: 100%;
        text-align: center;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 3rem;
    }

    .delete-form {
        height: 40%;
    }

    .info-link {
        font-size: 1.5rem;
    }

    .info-text {
        font-size: 1.4rem;
    }
}
