@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@300&display=swap');

.form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 75vh;


    .title {
        font-family: 'Bebas Neue', sans-serif;
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.form-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input-label {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
}

.form-control:not(#studio) {
    border: none;
    border-bottom: 1px solid black;
    transition: all ease-in-out .4s;
    width: 50%;
    margin-top: 2%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

#studio {
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 50%;
    margin-top: 2%;
    font-size: 1.3rem;
    text-align: center;
}

.checkbox-label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3rem;
}

.form-control:focus {
    width: 75%;
}



#cover {
    display: none;
}

#cover-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    opacity: .7;
}

#cover-label:hover {
    opacity: 1;
}

