@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@300&display=swap');


.form-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px - 100px - 25px);
    max-width: var(--max-width);
    width: 100%;


    .title {
        display: block;
        font-family: 'Bebas Neue', sans-serif;
        width: 100%;
        text-align: center;
        font-size: 5rem;
        text-decoration: underline;
    }
}

.form-content > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.genre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-height: 365px;
    height: 100%;
    width: 35%;
    border-right: .5px solid rgb(36, 36, 36);
}

.consoles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    min-height: 365px;
    width: 35%;
}



.input-label {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4rem;
}

.form-control:not(#studio) {
    border: none;
    border-bottom: 1px solid black;
    transition: all ease-in-out .4s;
    width: 80%;
    margin-top: 2%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
    text-align: center;
}



#studio {
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 80%;
    margin-top: 2%;
    font-size: 3rem;
    text-align: center;
}

option {
    font-size: 1.5rem;
    text-align: center;
}

.checkbox-input {
    height: 25px;
    width: 25px;
}
.checkbox-label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 3rem;
}

.form-control:focus {
    width: 75%;
}



#cover {
    display: none;
}

#cover-label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    opacity: .7;
    font-size: 2rem;
}

#cover-label:hover {
    opacity: 1;
}

.errors {
    margin-bottom: 1%;
    color: rgb(131, 38, 38);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}
@media only screen and (min-width: 1280px){
    .form-content {
        /*100vh - footer - header*/


        .title {
            font-size: 3rem;
        }
    }

    form {
        width: 45%;
    }

    .form-group {
        width: 50%;
    }

    .input-label {
        font-size: 1.3rem;
    }

    .form-control:not(#studio) {
        width: 50%;
        font-size: 1.3rem;
    }

    #studio {
        width: 50%;
        font-size: 1.3rem;
    }

    .checkbox-label {
        font-size: 1.3rem;
    }

    .checkbox-input {
        height: 15px;
        width: 15px;
    }

    #cover-label {
        font-size: 1rem;
    }

    .consoles {
        min-height: 145px;
    }

}
