.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
    min-height: calc(100vh - 100px - 100px);
  width: 100%;
  max-width: var(--max-width);

  .title {
    width: 100%;
    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;  
    text-align: center; 
  } 

  
  .carrousel-container {
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
  
    .gameCard {
      position: relative;
      height: 720px;
      width: 450px;
      font-size: 2rem;

     
    
      .link {
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: none;
    
    
        .gameCard-image-container {
          background-color: rgb(51, 51, 51);
          height: 80%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        
          .gameCard-image {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        
        .gameCard-text {
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            background-color: rgb(39, 39, 39);
            color: white;
            
    
            .text-image {
              text-align: center;
              font-size: 2rem;
              color: white;
            }
          }
        }
     } 
  }



}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}


@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


@media only screen and (min-width: 1280px){
  .content {

   
    .carrousel-container {
      flex-direction: row;
    
      .gameCard {
        height: 320px;
        width: 200px;
        max-width: 15%;
        transition: all ease-in-out .2s;
      }

      
       .gameCard:hover {
        transform: scale(1.05)
        }
      
   
    }
  
    .title {
      font-size: 2.5rem;
    } 
  
  }


}



