@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik&display=swap');

:root {
  --max-width: 1820px;
  --layout-color: rgb(39, 39, 39);
  --min-height: calc(100vh - 100px - 100px)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset;
  cursor: pointer;
}


.header-container {
  width: 100vw;
  background-color: var(--layout-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 125px;
  width: var(--max-width);
  display: flex;
  color: white;
  display: flex;
  align-items: center;
}

.logo-container {
  font-family: 'Anton', sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 1%;
  white-space: nowrap;

  .logo {
    height: 100px;
    width: 100px;
    object-fit: contain;
  }

  .logo-link {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 3rem;

  }
}


.navbar {
  display: none;
}







.footer {
    height: 75px;
    background-color: rgb(19, 19, 19);
    color: rgb(121, 121, 121);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5rem;
    
    
    .footer-text {
      padding-top: 1%;
    }
  }

  .btn-primary {
    font-family: 'Bebas Neue', sans-serif;
    height: 120px;
    width: 175px;
    background-color: black;
    color: white;
    font-size: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.btn-primary:hover {
    background-color: rgb(44, 44, 44);
}

.navigation-mobile {
  z-index: 15;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: fixed;
  bottom: 10%;
  right: 5%;
}

.menu-cover {
  z-index: 10;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: rgb(209, 209, 209);
  opacity: .6;
  position: fixed;
}

.navigation-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.submenu {
  visibility: hidden;
}

.submenu-text {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  color: black;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap:  12px;
}

.submenu-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid black;
}


.submenu.visible {
visibility: visible;
transition: all ease-in-out .8s;
animation: showMenu ease-in-out .4s forwards;
}

@keyframes showMenu {
  0% {
    top: -200%;
    right: 10%;
    opacity: 0;
  }
  
  100% {
    top: -400%;
    opacity: 1;
  }
}

#games-link {
  position: relative;
  top: -300%;
  right: 10%;
}


#consoles-link {
  position: relative;
  top: -325%;
  right: 100%;
}

#instances-link {
  position: relative;
  top: -300%;
  right: 180%;
}

#genres-link {
  position: relative;
  top: -340%;
  right: 240%;
}

#studios-link {
  position: relative;
  top: -340%;
  right: 300%;
}

@media only screen and (min-width: 1280px){

  .header {
    height: 125px; 
    }

  .logo-container {
    justify-content: flex-start;

    .logo {
      height: 50px;
      width: 50px;
    }

    .logo-link {
      justify-content: flex-start;    
    }
  }


  .navbar {
    width: 100%;
    height: 50%;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
    font-family: 'Rubik', sans-serif;
  }

  .element-container {
    position: relative;
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    height: 30px;
    width: calc(90% / 5);
    display: block;
    text-decoration: none;
    
  }

  .element-container:hover {
    background-color: rgb(95, 95, 95);
  }

  .navbar-link {
    background-color: var(--layout-color);
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    z-index: 5;
  }

  .subelement-container {
    position: absolute;
    padding: 6px 0 ;
    height: fit-content;
    color: white;
    text-decoration: none;
    top: -10px;
    opacity: 0;
    z-index: 1;
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    transition: all ease-in-out .4s;



    .hover-link {
      display: block;
      height: 100%;
      width: 100%;
      color: white;
      text-decoration: none;
      text-align: center;
      z-index: 1;
    }
  }

  .subelement-container:hover {
    background-color: rgb(70, 70, 70);
  }


  .element-container:hover > .subelement-container {
    opacity: 1;
    top: 30px;

    

  }






  .footer {
      height: 75px;
      font-size: 1rem;
      align-items: center;
            
    }

    .btn-primary {
      font-size: 1rem;
      height: 50px;
      width: 100px;
  }

  .btn-primary:hover {
      background-color: rgb(44, 44, 44);
  }

  .navigation-mobile {
    display: none;
  }

  

}