.list-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 85vh;
    flex-direction: column;

    .title {    
        font-family: 'Yanone Kaffeesatz', sans-serif;
        text-decoration: underline;
        font-size: 4rem;
    }

}

ul {
    margin-top: 5%;
    font-size: 3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    transition: all ease-in-out .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    list-style-type: disc;
}

li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (min-width: 1280px){
    .list-content {
        height: 75vh;
        font-size: 1.5rem;

        .title {
            font-size: 2.5rem;
            font-family: 'Bebas Neue', sans-serif;  
        }
    }

    ul {
        font-size: 2rem;
    }

}


